<!DOCTYPE html>
<html>
  <head>
    <title>Linkboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <h1><a href='/'>Linkboard</a></h1>
        <a href='/new' class='new-link'>New Link</a><br>
        <div class='clear'></div>
      </div>

      <% if (locals.community) { %>
        <h2>/lb/<%= community %></h2>
      <% } %>
        
      <div class='links'>
        <% for (var link of links) { %>
          <div class='link'>
            <h2>
              <a href='<%= link.url %>'>
                <%= link.title %>
              </a>
            </h2>

            <h3>Posted by <%= link.user %> in <a href='/lb/<%= link.community %>'><%= link.community %></a></h3>
            <a href='/link/<%= link._id %>'><%= link.comments.length %> comment(s)</a>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
